{% extends "layout.html" %}

{% block body %}

    

    
    <br>
    <table border="1">
        <tr>
            {% for column in columns %}
            <th>
                {{ column }}
                <a href="?sort_by={{ column }}&order=asc">↑</a>
                <a href="?sort_by={{ column }}&order=desc">↓</a>
            </th>
            {% endfor %}
        </tr>
        {% for row in data %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

{% endblock %}
