{% extends "layout.html" %}

{% block body %}

    <form method="post">
        <label for="country">Country:</label>
        <select name="country" id="country">
            <option value="" selected>All Countries</option>
            {% for column in country_columns %}
            <option value="{{ column }}">{{ column }} </option>
            {% endfor %}
            <select name="All Countries" id=""></select>
        </select>
        <label for="year">Year:</label>
        <select name="year" id="year">
            <option value="" selected>All Years</option>
            {% for column in year_columns %}
            <option value="{{ column }}">{{ column }}</option>
            {% endfor %}
        </select>
        <label for="cancer">Cancer:</label>
        <select name="cancer" id="cancer">
            <option value="" selected>All Cancers</option>
            {% for column in cancer_columns %}
            <option value="{{ column }}">{{ column }}</option>
            {% endfor %}
        </select>
        <button type="submit">Submit</button>
    </form>
    {% if plot_png %}
    <!-- <h1>{{ yaxis }} vs {{ xaxis }}</h1> -->
    <img src="{{ url_for('plot_png', filename=plot_png) }}" alt="Plot">
    {% endif %}

{% endblock %}
